:root {
  --gap-subgrid: 1rem;
  --gap-main: 5px;
}

.subgrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  gap: var(--gap-subgrid);
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  gap: var(--gap-main);
}



